# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\cadyj\Google Drive\UAB\Año 3\Cuatri 1\TQS\Worksapce\ProyectoTQS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
